
<%= erb :item, locals: { listing_id: 'listing', title: 'title', description: 'description', tags: 'tags'} %>


.products

module AppNoUnderscores
  class App < Sinatra::Base
    register Sinatra::Partial
    use WhiteSpaceRemove
    
    configure do 
      set :news, ["This", "is", "all", "new"]
    end
    
    
    get "/" do  
      magic = partial :magic
      haml :home, :locals => { :show_me_magic => magic }
    end
  end
end


<li>
  <%= song.artist %> - <%= song.title %>
  <form action="/play/<%= song.id %>" method="post" class="play-song">
     <button type="submit" value="Play">Play the damn thing!</button>
  </form>
</li>
